KT_SCHEMA_2/main.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="notebook">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="offices">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="office" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="code" type="xs:string" use="required" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="person" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="first" type="xs:string"/>
                                        <xs:element name="surname" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="address">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="city" type="xs:string"/>
                                        <xs:element name="street" type="xs:string"/>
                                        <xs:element name="index" type="IndexType"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="phones">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="phone" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="type" type="PhoneType" use="optional"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                        <xs:attribute name="office" type="xs:string" use="required"/>
                        <xs:unique name="uniquePersonId">
                            <xs:selector xpath="."/>
                            <xs:field xpath="@id"/>
                        </xs:unique>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="IndexType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{6}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PhoneType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{3}-\d{2}-\d{2}"/>
            <xs:enumeration value="work"/>
            <xs:enumeration value="home"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
